.movies-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
    height: auto;
    background-color: #1f1e1e;
    overflow: hidden;
}
.movies-container h1 {
    color: white;
}
.movies-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.movies-list {
    position: relative;
    width: 100%;
}
.movies-list-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
}
.movies-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.605);
    color: white;
    text-align: center;
    z-index: 1;
}
.movies-list img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .page-item.active .page-link {
    background-color: red;
    border-color: red;
}

.pagination .page-link:hover {
    background-color: #555;
}
